* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 750px;
  /* flexible 给我们划分了 10 等份 */
  width: 10rem;
}
a {
  text-decoration: none;
}
.box1 {
  width: 100%;
  height: 100%;
}
.box1-1 {
  width: 100%;
  height: 73%;
  position: relative;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.box1-1:after {
  content: "";
  clear: both;
}
.g-head {
  background: url(../imgs/bg.png) no-repeat center center;
  background-size: 100% 100% ;
  width: 100%;
  width: 100vw;
  height: 5.346667rem;
}
.pic1 {
  position: absolute;
  top: 1.533333rem;
  left: 0.346667rem;
  display: block;
  background-size: 100%;
}
.pic1 img {
  width: 94vw;
  background-size: 100%;
}
.tiao1 img {
  position: absolute;
  top: 6.8rem;
  width: 4.88rem;
  height: 0.13rem;
}
.wen1 img {
  position: absolute;
  top: 7.2rem;
  left: 0.773333rem;
  width: 6.993333rem;
  height: 0.253333rem;
}
.box1-1 nav {
  display: flex;
  position: absolute;
  top: 8.326667rem;
}
.box1-1 nav a {
  flex: 1;
  padding: 0 0.38rem 0 0.493333rem;
  text-decoration: none;
  text-align: center;
}
.box1-1 nav a img {
  display: block;
  width: 1.613333rem;
}
.box1-1 nav a span {
  font: bold 10px SourceHanSansCN-Medium;
  color: #176E32;
  line-height: 0.248133rem;
}
.tiao2 img {
  position: absolute;
  top: 11.4rem;
  width: 3.413333rem;
  height: 0.14rem;
}
.wen2 img {
  position: absolute;
  top: 11.87rem;
  left: 0.773333rem;
  width: 6.993333rem;
  height: 0.253333rem;
}
.content {
  position: relative;
  background: url(../imgs/bg1.png) no-repeat center center;
  background-size: 100% 100%;
  width: 93vw;
  margin: 0 auto;
  margin-bottom: 0.4rem;
  padding-top: 0.26rem;
}
.content .geng img {
  display: inline-block;
  width: 0.426667rem;
  height: 0.36rem;
  padding-left: 0.186667rem;
  position: relative;
  top: 0.05rem;
}
.content .ti {
  padding-left: 0.746667rem;
  margin-right: -0.866667rem;
  font: bold 16.75px Adobe Heiti Std R;
  color: #104C29;
}
.content .geng {
  position: absolute;
  right: 0.8rem;
  top: 0.4rem;
  font: 12.72px Adobe Heiti Std R;
  color: #104C29;
  font-weight: 400;
}
.content span:nth-child(2) {
  display: inline-block;
  transform: scale(0.633);
  font: bold 14px SourceHanSansCN-Light;
  color: #104C29;
}
.content-1 {
  position: relative;
  background: url(../imgs/bg2.png) no-repeat center center;
  background-size: 100% 100%;
  width: 93vw;
  margin: 0 auto;
  margin-bottom: 0.4rem;
  padding-top: 0.26rem;
}
.content-1 .geng {
  font: 12.72px SourceHanSansCN-Light;
  color: #104C29;
  font-weight: 400;
  position: absolute;
  top: 0.36rem;
  right: 0.8rem;
}
.content-1 .geng img {
  display: inline-block;
  width: 0.426667rem;
  height: 0.36rem;
  padding-left: 0.186667rem;
  position: relative;
  top: 0.05rem;
}
.content-1 .jian {
  padding-left: 0.746667rem;
  margin-right: -0.366667rem;
  font: bold 16.75px Adobe Heiti Std R;
  color: #104C29;
}
.content-1 span:nth-child(2) {
  display: inline-block;
  transform: scale(0.633);
  font: bold 14px SourceHanSansCN-Light;
  color: #104C29;
}
.content-2 {
  position: relative;
  background: url(../imgs/bg3.png) no-repeat center center;
  background-size: 100% 100%;
  width: 93vw;
  padding-bottom: 0.26rem;
  margin: 0 auto;
  margin-bottom: 0.4rem;
  padding-top: 0.26rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.content-2 .yiliao {
  padding-left: 0.746667rem;
  margin-right: -0.66667rem;
  font: bold 16.75px Adobe Heiti Std R;
  color: #104C29;
}
.content-2 span:nth-child(2) {
  display: inline-block;
  transform: scale(0.633);
  font: bold 14px SourceHanSansCN-Light;
  color: #104C29;
}
.content-2 .geng {
  font: 12.72px SourceHanSansCN-Light;
  color: #104C29;
  font-weight: 400;
  position: absolute;
  top: 0.35rem;
  right: 0.9rem;
}
.content-2 .geng img {
  display: inline-block;
  width: 0.426667rem;
  height: 0.36rem;
  padding-left: 0.186667rem;
  position: relative;
  top: 0.05rem;
}
.content-3 {
  position: relative;
  background: url(../imgs/bg4.png) no-repeat center center;
  background-size: 100% 100%;
  width: 93vw;
  padding-bottom: 0.26rem;
  margin: 0 auto;
  margin-bottom: 0.626667rem;
  padding-top: 0.26rem;
  padding-left: 0.2rem;
}
.content-3 .yufang {
  padding-left: 0.746667rem;
  margin-right: -0.866667rem;
  font: bold 16.75px Adobe Heiti Std R;
  color: #104C29;
}
.content-3 .geng {
  font: 12.72px SourceHanSansCN-Light;
  color: #104C29;
  font-weight: 400;
  position: absolute;
  right: 0.8rem;
  top: 0.3rem;
}
.content-3 .geng img {
  display: inline-block;
  width: 0.426667rem;
  height: 0.36rem;
  padding-left: 0.186667rem;
  position: relative;
  top: 0.05rem;
}
.box4 nav {
  display: flex;
  padding-top: 0.3rem;
}
.box4 nav a {
  flex: 1;
  text-decoration: none;
  text-align: center;
}
.box4 nav a .nav-1 {
  width: 3.18rem;
  height: 1.653333rem;
  background-color: #DEEBD3;
  box-shadow: 3px 3px 3px #104C29;
  border-radius: 10px;
}
.box4 nav a .nav-1 img {
  width: 0.266667rem;
  height: 0.226667rem;
  margin-left: -0.6rem;
}
.box4 nav a .nav-1 p:nth-child(1) {
  padding-top: 0.3rem;
  font: bold 15px SourceHanSansCN-Medium;
  color: #176E32;
}
.box4 nav a .nav-1 span:nth-child(1) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
}
.box4 nav a .nav-1 span:nth-child(2) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
}
.box4 nav a .nav-1 span:nth-child(3) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
  margin-left: -0.7rem;
}
.box4 nav a .nav-1 span:nth-child(4) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
  margin-left: -0.7rem;
}
.box4 nav a .nav-2 {
  width: 2.8rem;
  height: 1.653333rem;
  background-color: #DEEBD3;
  box-shadow: 3px 3px 3px #104C29;
  border-radius: 10px;
  margin-left: 0.11rem;
}
.box4 nav a .nav-2 img {
  width: 0.266667rem;
  height: 0.226667rem;
  margin-left: -0.4rem;
}
.box4 nav a .nav-2 p:nth-child(1) {
  padding-top: 0.3rem;
  font: bold 15px SourceHanSansCN-Medium;
  color: #176E32;
}
.box4 nav a .nav-2 span:nth-child(2) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
}
.box4 nav a .nav-3 {
  width: 3.1rem;
  height: 1.653333rem;
  background-color: #DEEBD3;
  box-shadow: 3px 3px 3px #104C29;
  border-radius: 10px;
}
.box4 nav a .nav-3 img {
  width: 0.266667rem;
  height: 0.226667rem;
  margin-left: -1rem;
}
.box4 nav a .nav-3 p:nth-child(1) {
  padding-top: 0.3rem;
  font: bold 15px SourceHanSansCN-Medium;
  color: #176E32;
}
.box4 nav a .nav-3 span:nth-child(2) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
}
.box4 nav a .nav-3 span:nth-child(3) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
  margin-left: -0.5rem;
}
.box5 nav {
  display: flex;
  padding-top: 0.3rem;
}
.box5 nav a {
  flex: 1;
  text-decoration: none;
  text-align: center;
}
.box5 nav a .nav-1 {
  width: 2.93rem;
  height: 1.526667rem;
  background-color: #DEEBD3;
  box-shadow: 3px 3px 3px #104C29;
  border-radius: 10px;
}
.box5 nav a .nav-1 p:nth-child(1) {
  padding-top: 0.2rem;
  font: bold 15px SourceHanSansCN-Medium;
  color: #176E32;
}
.box5 nav a .nav-1 span:nth-child(2) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
}
.box5 nav a .nav-1 span:nth-child(3) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
  margin-left: -0.7rem;
}
.box5 nav a .nav-1 img {
  width: 0.266667rem;
  height: 0.226667rem;
  margin-left: -0.5rem;
}
.box5 nav a .nav-2 {
  width: 2.93rem;
  height: 1.526667rem;
  background-color: #DEEBD3;
  box-shadow: 3px 3px 3px #104C29;
  border-radius: 10px;
}
.box5 nav a .nav-2 p:nth-child(1) {
  padding-top: 0.2rem;
  font: bold 15px SourceHanSansCN-Medium;
  color: #176E32;
}
.box5 nav a .nav-2 span:nth-child(2) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
}
.box5 nav a .nav-2 span:nth-child(3) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
  margin-left: -0.8rem;
}
.box5 nav a .nav-2 img {
  width: 0.266667rem;
  height: 0.226667rem;
  margin-left: -0.6rem;
}
.box5 nav a .nav-3 {
  width: 2.93rem;
  height: 1.526667rem;
  background-color: #DEEBD3;
  box-shadow: 3px 3px 3px #104C29;
  border-radius: 10px;
}
.box5 nav a .nav-3 p:nth-child(1) {
  padding-top: 0.2rem;
  font: bold 15px SourceHanSansCN-Medium;
  color: #176E32;
}
.box5 nav a .nav-3 span:nth-child(2) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
}
.box5 nav a .nav-3 span:nth-child(3) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
  margin-left: -0.7rem;
}
.box5 nav a .nav-3 span:nth-child(4) {
  display: inline-block;
  transform: scale(0.55);
  transform-origin: 0 0;
  font: 13px SourceHanSansCN-Medium;
  color: #176E32;
  margin-left: -0.2rem;
}
.box5 nav a .nav-3 img {
  width: 0.266667rem;
  height: 0.226667rem;
  margin-left: -0.6rem;
}
